// HEX
$paletteColor1: #000;
$paletteColor2: #FFF;
$paletteColor3: #E9EBEE;
$paletteColor4: #808080;
$paletteColor5: #90949C;
$paletteColor6: #4267B2;
$paletteColor7: #EEEEEE;
$paletteColor8: #282828;
$buttonGreen: #4CAF50;
$buttonGreenLight: #4bb83f;
$buttonPink: #e930e3;
$buttonPinkLight: #eb55e6;


// RGBA
$rgbaColor1: rgba(0, 0, 0, .1);
$rgbaColor2: rgba(0, 0, 0, .2);

// Gradients
// $gradient1: linear-gradient($paletteColor21, $paletteColor17);
// $gradient2: linear-gradient($paletteColor16, $paletteColor17);
