@import '../../theme/palette';

.movie {
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 2px;
    background-color: $paletteColor7;
    box-shadow: 0 10px 20px rgba($paletteColor1, .19), 0 6px 6px rgba($paletteColor1, .23);

    .content {
        width: 70%;
        margin-right: 2vw;
        margin-left: 2vw;
        a {
            text-decoration: none;
        }

        .star {
            display: flex;
            position: relative;
            color: $buttonGreen;
            font-size: 20px;
        }
    }

    .poster {
        width: 30%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .favoriteAdd {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        // background-image: url('../../theme/assets/favorites.png');
        background-repeat: no-repeat;
        background-position: 0 -25px;
        cursor: pointer;

        &:hover {
            background-position: 0 0;
        }
    }

    .favoriteDel {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        // background-image: url('../../theme/assets/favorites.png');
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover {
            background-position: 0 -25px;
        }
    }
}
